# 2025 工学部プログラミング期末試験

教員：YOH

**氏名：** `三上稜也`  
**学籍番号：** `1254810752`  

---

**合計：100点（パート1：50点｜パート2：50点）**

---

# パート1：Python基礎（50点）

各問題5点です。

## Q1（5点）：変数と基本演算

次の計算をしてください：
1. `price = 1200` （商品価格）
2. `tax_rate = 0.10` （消費税率10%）
3. `quantity = 3` （購入数）
4. `total` に税込み合計金額を計算して代入
   - 計算式：`price * quantity * (1 + tax_rate)`
5. `total` を print

In [15]:
price = 1200
tax_rate = 0.10
quantity = 3
total = price * quantity * (1 + tax_rate)
print(total)

3960.0000000000005

## Q2（5点）：リスト操作

次の操作をしてください：
1. `temperatures = [22, 25, 19, 28, 24]` （気温データ）
2. 最高気温を `max_temp` に代入（`max()` 関数を使う）
3. 最低気温を `min_temp` に代入（`min()` 関数を使う）
4. 気温差を `temp_range` に代入
5. `temp_range` を print

In [16]:
temperatures = [22, 25, 19, 28, 24]
max_temp = max(temperatures)
min_temp = min(temperatures)
temp_range = max_temp - min_temp
print(temp_range)

9

## Q3（5点）：ディクショナリ操作

次の dictionary を操作してください：
1. `inventory = {'apple': 50, 'banana': 30, 'orange': 20}` （在庫データ）
2. `'banana'` の在庫を 10 増やす
3. 新しい商品 `'grape'` を 15 個追加
4. 全商品の合計在庫数を `total_items` に代入
5. `total_items` を print

In [17]:
inventory = {'apple': 50, 'banana': 30, 'orange': 20}
inventory['banana'] += 10
inventory['grape'] = 15
total_items = sum(inventory.values())
print(total_items)

125

## Q4（5点）：条件分岐

BMI を計算して判定してください：
1. `weight = 65` （kg）
2. `height = 1.70` （m）
3. `bmi` を計算（`weight / (height ** 2)`）
4. BMI に基づいて `category` を決定：
   - 25以上：`'overweight'`
   - 18.5以上25未満：`'normal'`
   - 18.5未満：`'underweight'`
5. `category` を print

In [28]:
weight = 65
height = 1.70
bmi = weight / (height ** 2)
if bmi >= 25:
    category = 'overweight'
elif bmi >= 18.5:
    category = 'normal'
else:
    category = 'underweight'
print(category)

normal

## Q5（5点）：Forループ

次の操作をしてください：
1. `numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`
2. 3の倍数だけを抽出して `multiples_of_3` リストに追加（for ループと if を使う）
3. `multiples_of_3` を print

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
multiples_of_3 = []
for n in numbers:
    if n % 3 == 0:
        multiples_of_3.append(n)
print(multiples_of_3)

[3, 6, 9]

## Q6（5点）：関数

割引価格を計算する関数を作成してください：
1. `calculate_discount(price, discount_rate)` という関数を定義
   - `price`: 元の価格
   - `discount_rate`: 割引率（例：0.20 = 20%オフ）
   - 戻り値：割引後の価格 `price * (1 - discount_rate)`
2. `calculate_discount(5000, 0.20)` を呼び出して結果を print

In [20]:
def calculate_discount(price, discount_rate):
    return price * (1 - discount_rate)

print(calculate_discount(5000, 0.20))

4000.0

## Q7（5点）：文字列操作

次の文字列操作をしてください：
1. `text = "Python Programming"`
2. `lower_text` に全て小文字に変換した文字列を代入
3. `new_text` に "Programming" を "Coding" に置換した文字列を代入
4. `word_list` にスペースで分割した単語リストを代入
5. `word_count` に単語数を代入
6. `word_count` を print

In [29]:
text = "Python Programming"
lower_text = text.lower()
new_text = text.replace('Programming', 'Coding')
word_list = text.split()
word_count = len(word_list)
print(word_count)

2

## Q8（5点）：ネストされたリスト

3人の学生の3科目のテストスコアを処理してください：
1. `scores = [[85, 90, 78], [92, 88, 95], [70, 85, 80]]`
2. 各学生の平均点を計算して `averages` リストに追加
3. `averages` を print
4. 全ての点数の中で最高点を `highest_score` に代入
5. `highest_score` を print

In [30]:
scores = [[85, 90, 78], [92, 88, 95], [70, 85, 80]]
averages = [sum(s) / len(s) for s in scores]
highest_score = max(max(s) for s in scores)
print(averages)
print(highest_score)

[84.33333333333333, 91.66666666666667, 78.33333333333333]
95

## Q9（5点）：Whileループ

While ループを使って1から10までの合計を計算してください：
1. `total = 0` と `count = 1` を初期化
2. `count` が 10 以下の間、以下を繰り返す：
   - `total` に `count` を加える
   - `count` を 1 増やす
3. `total` を print

In [23]:
total = 0
count = 1
while count <= 10:
    total += count
    count += 1
print(total)

55

## Q10（5点）：リスト内包表記

次の操作をリスト内包表記を使って実行してください：
1. `numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`
2. 各数字を2乗した値のリストを `squares` に代入
3. 偶数のみを抽出したリストを `evens` に代入
4. 両方を print

In [31]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = [n ** 2 for n in numbers]
evens = [n for n in numbers if n % 2 == 0]
print(squares)
print(evens)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10]

---
# パート2：データ分析レポート（50点）

## データセット

**ファイル名：** `world_happiness_report.csv`

このデータセットには、2015年から2022年までの世界各国の幸福度指標が含まれています。

### データフィールド

| Field Name | 説明 |
|------------|------|
| **Country** | 国名 |
| **Region** | 地域 |
| **Happiness Rank** | 幸福度ランキング（1位が最も幸せ） |
| **Happiness Score** | 総合幸福度スコア（0〜10） |
| **Economy (GDP per Capita)** | 経済（一人当たりGDP）の貢献度 |
| **Family** | 家族からの社会的サポート |
| **Health (Life Expectancy)** | 健康と平均寿命 |
| **Freedom** | 人生の選択の自由 |
| **Trust (Government Corruption)** | 政府への信頼（汚職の少なさ） |
| **Generosity** | 寛容さ（寄付など） |
| **year** | データ収集年 |

### 研究テーマ例（参考）

**重要**: 以下は参考例です。**独自の研究テーマと質問を設定することを強く推奨します**。

自分で興味のあるテーマを見つけ、独自の視点で分析することで、より深い学びと高い評価につながります。

**参考テーマ例**：

1. **地域別幸福度比較** - どの地域が最も幸せか？
2. **要因分析** - 経済・家族・健康・自由のどれが重要か？
3. **特定国分析** - 日本の順位、アジア諸国との比較など
4. **相関研究** - GDP vs. 幸福度、自由度 vs. 幸福度など
5. **最上位・最下位国の特徴分析** - 上位国と下位国の違いは何か？

**独自テーマのアイデア**：
- 経済成長と幸福度の関係性
- 文化的要因が幸福度に与える影響
- 特定地域の時系列変化と原因分析
- 幸福度の構成要素間の相互作用
- など、あなたの興味に基づいた研究テーマを設定してください

## 課題要件

**別のJupyter Notebook (.ipynb) を作成してレポートを提出してください。**

### レポートに含めるべき内容：

1. **序論**
   - レポートタイトル、氏名、学籍番号
   - 研究テーマと選んだ理由

2. **データ読み込み**
   - CSVファイルの読み込み
   - データの基本情報表示（head, shape, info など）

3. **分析**
   - 最低3つの異なる分析
   - データのフィルタリング、計算、統計など

4. **可視化**
   - 最低3つのグラフ
   - タイトル、軸ラベル、凡例を含める

5. **結論**
   - 発見したこと、研究質問への答え、考察

## 上級者向けチャレンジ（オプション）

基本要件を満たした上で、さらに高度な分析に挑戦したい人は以下を試してみてください：

- **インタラクティブマップの作成**: `folium` ライブラリを使って世界地図上に幸福度データを可視化する（ヒント：`pip install folium` でインストール、各国の座標データと幸福度スコアを組み合わせて地図にマーカーを配置）

- **機械学習による予測モデル**: 幸福度スコアを予測するモデルを作成する（ヒント：`sklearn` の線形回帰やランダムフォレストを使用、経済・家族・健康などの要因から幸福度を予測）

- **インタラクティブグラフ**: `plotly` を使って動的な可視化を作成する（ヒント：`pip install plotly` でインストール、hover機能やズーム可能なグラフを作成し、時系列変化をスライダーで操作できるようにする）

## 始めるためのサンプルコード

新しいノートブックを作成したら、まず以下のコードでデータを読み込んでください：

In [25]:
# 必要なライブラリをインポート
import pandas as pd
import matplotlib.pyplot as plt

# CSVファイルを読み込む
df = pd.read_csv('world_happiness_report.csv')

# データの最初の5行を表示
df.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [26]:
# データの形状を確認（行数、列数）
print(f"データの形状: {df.shape}")

# データの基本情報
df.info()

データの形状: (1231, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1231 non-null   int64
 1   Country                        617 non-null    object
 2   Region                         315 non-null    object
 3   Happiness Rank                 315 non-null    float64
 4   Happiness Score                315 non-null    float64
 5   Standard Error                 158 non-null    float64
 6   Economy (GDP per Capita)       315 non-null    float64
 7   Family                         470 non-null    float64
 8   Health (Life Expectancy)       315 non-null    float64
 9   Freedom                        470 non-null    float64
 10  Trust (Government Corruption)  315 non-null    float64
 11  Generosity                     1084 non-null   float64
 12  Dystopia Residual              315 non-null    float64
 13  year                           1231 non-null   int64
dtypes: float64(10), int64(2), object(2)
memory usage: 134.8+ KB

In [27]:
# 基本統計量を表示
df.describe()

,Unnamed: 0,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
count,1231.000000,315.000000,315.000000,158.000000,315.000000,470.000000,315.000000,470.000000,315.000000,1084.000000,315.000000,1231.000000
mean,615.000000,79.238095,5.378949,0.047885,0.899837,0.990347,0.594054,0.402828,0.140532,0.153545,2.212032,2018.450041
std,355.503399,45.538922,1.141531,0.017146,0.410780,0.318707,0.240790,0.150356,0.115490,0.167592,0.558728,2.284034
min,0.000000,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907,0.328580,2015.000000
25%,307.500000,40.000000,4.510000,0.037268,0.594900,0.793000,0.419645,0.297615,0.061315,0.064828,1.884135,2016.000000
50%,615.000000,79.000000,5.286000,0.043940,0.973060,1.025665,0.640450,0.418347,0.106130,0.162140,2.211260,2018.000000
75%,922.500000,118.500000,6.269000,0.052300,1.229000,1.228745,0.787640,0.516850,0.178610,0.252000,2.563470,2020.000000
max,1230.000000,158.000000,7.587000,0.136930,1.824270,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,2022.000000

## 提出方法

1. 別の .ipynb ファイルを作成（例：`Happiness_Report_氏名.ipynb`）
2. GitHubにコミット・プッシュ（リポジトリは公開設定）
3. 下記にGitHub URLを入力

### GitHub URL

**GitHubリポジトリURL：**

```
https://github.com/YOUR-USERNAME/YOUR-REPO/blob/main/YOUR-NOTEBOOK.ipynb
```

## 採点基準

| 基準 | 点数 | 説明 |
|------|------|------|
| **分析とコード品質** | 10 | データの適切な読み込み、処理、統計分析が正しく実装されているか。コードが読みやすく、エラーがないこと。 |
| **可視化とプレゼンテーション** | 10 | グラフが適切で見やすく、タイトル・軸ラベル・凡例が含まれているか。レポート全体の構成が論理的で読みやすいこと。 |
| **独創性と洞察** | 30 | 独自の研究テーマの設定、深い考察、興味深い発見があるか。データから意味のある結論を導き出しているか。 |

**合計：50点**

## 重要事項

**UNIPAで提出必須**

**提出前チェックリスト：**
- [ ] Part 1：全10問完了
- [ ] Part 2：別ファイル作成、GitHub公開、URL入力
- [ ] UNIPAで提出
    - このノートブックをアップロード
    - Part 2のGitHub URLを投稿

頑張ってください！